* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(189, 186, 186);
}

a {
    color: white;
}

a:visited {
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    color: rgb(255, 255, 255);
}

.header h1 {
    font-size: 48px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-size: 24px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.header-image {
    margin-right: 10px;
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
}

#aboutMe div {
    display: flex;
    flex-direction: row;
}

.top {
    padding: 60px;
    background: #3a1178;
    margin-bottom: 20px;
}

p {
    line-height: 1.5;
    padding-bottom: 20px;
    font-size: 20px;
    margin-right: 20px;
}

.project {
    position: relative;
}

.project>div {
    position: absolute;
    bottom: 10px;
    left: 0px;
    background-color: whitesmoke;
    color: black;
    margin-left: 4px;
    margin-top: 10px;
}

.page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.page>h2 {
    flex: 0 0 20%;
    text-align: right;
    line-height: 1.5;
    border-right: black solid 5px;
    margin-bottom: 50px;
    padding-right: 10px;
}

.page>div {
    flex: 0 0 77%;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.item img {
    width: 100%;
}

.item:nth-child(2) {
    flex-basis: 50%;
}

.item:nth-child(3) {
    flex-basis: 50%;
}

.item:nth-child(4) {
    flex-basis: 50%;
}

.item:nth-child(5) {
    flex-basis: 50%;
}

.contactMe ul li {
    display: inline-block;
    margin-left: 90px;
    font-size: 22px;
    padding-top: 20px;
    margin-right: 0px;
}


.content h2 {
    font-size: 40px;
}

.item {
    border-style: solid;
    border-width: 5px;
    border-color: rgba(0, 0, 0, 0.891);
    padding: 5px;
}

.item:hover {
    box-shadow: inset 0px 0px 8px #3a1178, 0px 0px 15px #3a1178;
}

#contactMe div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    #contactMe div ul {
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: right;
        padding-top: 100px;
    }

    #contactMe div ul li {
        justify-content: flex-end;
        flex-basis: 100%;
        justify-content: right;
    }

    .header nav ul {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: right;
    }

    .header nav ul li {
        justify-content: flex-end;
        flex-basis: 100%;
        justify-content: right;
    }
}