body {
    background-color: rgb(203, 198, 198);
    line-height: 1.5;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(44, 41, 49);
    padding: 20px;
    color: rgb(255, 255, 255);
}

.header h1 {
    font-size: 48px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-size: 20px;
}


header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    text-decoration: underline;
    margin-left: 25px;
}

.hero img {
    height: 205px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

p {
    line-height: 1.5;
}

.page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.page>h2 {
    flex: 0 0 20%;
    text-align: right;
    line-height: 1.1;
}

.page>div {
    flex: 0 0 77%;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.item {
    flex: 0 0 250px;
}

.item img {
    width: 100%;
}

.item:first-child {
    flex-basis: 100%;
    flex-wrap: wrap;
}

.item:nth-child(2) {
    flex-basis: 50%;
}

.item:nth-child(3) {
    flex-basis: 50%;
}

.item:nth-child(4) {
    flex-basis: 50%;
}

.item:nth-child(5) {
    flex-basis: 50%;
}

.contactMe ul li {
    display: inline-block;
}

.content h2 {
    font-size: 30px;
}

.item {
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

.item:hover {
    box-shadow: inset 0px 0px 8px black, 0px 0px 15px black;
}

#contactMe div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    font-size: 40px;
}

.item {
    flex-grow: 1;
}

